@model nthLesson4.Models.NthBook

<h2>Chỉnh sửa Sách</h2>
<form asp-action="NthEditSubmit" method="post">
    <input type="hidden" asp-for="NthId" />
    <div><label>Tiêu đề:</label> <input asp-for="NthTitle" /></div>
    <div><label>Mô tả:</label> <textarea asp-for="NthDecription"></textarea></div>
    <div><label>Ảnh:</label> <input asp-for="NthImage" /></div>
    <div><label>Giá:</label> <input asp-for="NthPrice" /></div>
    <div><label>Số trang:</label> <input asp-for="NthPage" /></div>
    <button type="submit">Lưu thay đổi</button>
</form>
